body{
    font-family: Arial, sans-serif;
}

#top-nav{
    padding-top: 20px;
    padding-bottom: 100px;
}

a{
    color: black;
    text-decoration: none;
}
.left-nav{
    float: left;
}
.right-nav{
    float: right;
}
ul{
    list-style-type: none;
    margin:0px;
    padding:0px;
}

ul li{
    display:inline;
    padding: 0px 16px 14px 16px;
}

#google-logo{
    text-align: center;
    padding: 10px 10px 50px 10px;
}

#google-logo img{
    width: 20%
}

#searchbar{
    display: flex;
    width: 30vw;
    margin:auto;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    border: 0px black solid;
    border-radius: 100px;
    padding: 10px;

}

#searchbar input{
    width:90%;
    border: none;
    background-color: transparent;
    outline: none;
}

#search-icon{
    display: block;
}

#search-buttons{
    margin:auto;
    display:flex;
    justify-content: center;
    margin-top: 50px;
}

#search-buttons button{
    border: 1px transparent solid;
    padding:10px;
    margin: 10px;
    border-radius: 3px;
}
footer{
    background-color: rgb(242,242,242);
    display: flex;
    position: fixed;
    bottom:0;
    left:0;
    width:100%;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-between;

}

.left-footer{
    width: 33%;
}

.right-footer{
    width: 33%;
    text-align: right;

}

.center-footer{
    width: 33%;
    text-align: center;

}

footer a{
    padding:10px;
}

#search-button{
    padding: 50px 0 10px 0;
}

#search-button button{
    background-color: #f8f9fa;
    border-radius: 10%;
    padding: 5px 10px 5px 10px;
    border: 1px solid white;
}
#search-button button:hover{
    border: 1px solid #d9d9d9e8;
}
